// Colors
$white: #ffffff;
$black: #0B132A;
$gray: #4F5665;
$light-gray: #F8F8F8;
$red: #F53838;

$divider: #EEEFF2;
$border: #DDDDDD;
$copy: #AFB5C0;


// Font
$font-xs: 0.93rem;      // 14px
$font-s: 1.06rem;       // 16px
$font-m: 1.2rem;       // 18px
$font-l: 1.33rem;       // 20px
$font-xl: 1.66rem;       // 25px
$font-xxl: 2.33rem;      // 35px
$font-title: 3.33rem;   // 50px


// Animation
$carouselSpeed: 30s;